* {
  margin: auto;
  padding: 0;
}
.bakground-box {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
}

.background-blue {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height:200%; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Cela garantit que l'image couvre la totalité de la div */
  position: fixed; /* Fixe l'image par rapport à la fenêtre */
  top: 0;
  left: 0;
  z-index: -1;
}

ul {
  list-style-type: none;
  display: flex;
  float: right;
}
li {
  margin-top: 15px;
  margin-left: 40px;
}
.barn {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  background-color: #35605a;
  border: 2px solid #114e46;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.grid-2-columns {
  margin: 5rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

footer {
  background-color: #114e46;
  color: white;
}
hr {
  border: solid;
  border-top: 5px solid white;
}

.term {
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

/*.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}*/
