body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.bakground-box {
  position: relative;
  overflow: hidden;
}

.background-blue {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 200%; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Cela garantit que l'image couvre la totalité de la div */
  position: fixed; /* Fixe l'image par rapport à la fenêtre */
  top: 0;
  left: 0;
  z-index: -1;
}

select {
  width: 20px;
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: #114e46;
}
.barn {
  background-color: #35605a;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.logo-box img {
  width: 120px;
  height: 110px;
}
.nav-bar {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 110px;
  align-items: center;
  justify-content: space-around;
}
ul {
  list-style-type: none;
  display: flex;
  float: right;
}
li {
  margin-top: 15px;
  margin-left: 20px;
}
.nav-bar a {
  display: flex;
  align-items: center;
  color: #fff;
}
label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: #114e46;
  color: white;
}

.banner-box {
  width: 100%;
  height: 550px;  
}


.slick-slide img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}
.banner-carousel {
  width: 100%;
  max-height: 550px;
}

.banner-carousel .slick-slide {
  width: 100%;
}

.banner-carousel .slick-slide img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 100vw;
  padding: 20px; /* Ajoutez de la marge intérieure pour un meilleur aspect */
}

.section-one,
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-one img,
.section-two img {
  max-width: 100%; /* Les images ne dépasseront pas la largeur de leur conteneur */
}





.grid-2-columns {
  margin: 5rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}
.footer-columns {
  display: grid;
  justify-content: space-between;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15%;
}

.footer-column {
  color: white;
  
}

.logo-social-column {
  grid-column: span 1;
}

.footer-column a {
  display: block; /* Pour empêcher les liens de s'étendre sur toute la largeur */
  margin-top: 25px; /* Espacement entre les liens */
}

footer {
  background-color: #114e46;
  left: 0;
  bottom: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
hr {
  border-top: -2px solid white;
}

.term a {
  color: white;
  display: inline-block;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

/*.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}*/
