body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.bakground-box {
  position: relative;
  overflow: hidden;
}

.background-blue {
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 200%; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Cela garantit que l'image couvre la totalité de la div */
  position: fixed; /* Fixe l'image par rapport à la fenêtre */
  top: 0;
  left: 0;
  z-index: -1;
}

select {
  width: 20px;
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: #35605a;
}
.barn {
  background-color: #35605a;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.logo-box img {
  width: 120px;
  height: 110px;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.conect-inscription {
  display: flex;
  font-size: 16px;
}
.connect {
  background-color: #35605a;
  color: white;
  border: #d8e4ff solid 1px;
  border-radius: 5px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.inscrire {
  border: #00120B solid 1px;
  border-radius: 5px;
  background: #d8e4ff;
  color:#00120B;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  float: right;
}
li {
  margin-top: 15px;
  margin-left: 20px;
}
.nav-bar a {
  display: flex;
  align-items: center;
  color: #fff;
}
label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
  background-color: #114e46;
  color: white;
}

.banner-box {
  width: 100%;
  height: 550px;
}

.slick-slide img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.banner-carousel {
  width: 100%;
  max-height: 550px;
}

.banner-carousel .slick-slide {
  width: 100%;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: auto;
  padding-top: 5%; 
}

.row-one,
.row-two,
.row-tree,
.row-fourth {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
  margin-bottom: 10%;
  
}
.row-one,
.row-tree{
  padding-left: 5%;
}

.row-two,
.row-fourth {
  padding-right: 5%;
}
.content {
  border-radius: 44px;
  max-width: 500px; /* Définir la largeur maximale */
  max-height: 308px; /* Définir la hauteur maximale */
  padding: 20px; /* Ajouter un remplissage pour l'espace intérieur */
  overflow: auto; 
}

h2{
  font-size: 16px;
  color:#468D80;
  padding-bottom: 2%;
}

p{
  font-size: 12px;
}
.row-one p,
.row-one h2,
.row-two p,
.row-two h2,
.row-tree p,
.row-tree h2,
.row-fourth p,
.row-fourth h2 {
  max-width: 75%;
  margin: auto; /* Centrer horizontalement */
  place-self: center; /* Centrer verticalement */
}

.row-one img,
.row-two img,
.row-tree img,
.row-fourth img {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 44px;
}

/*p {
  background-color: #d8e4ff;
  line-height: 2em;
  color: black;
  border-radius: 12px;
}*/

.renvoi-tarif {
  margin-top: 130px;
  background-color: #468D80;
  border: #35605a solid 5px;
  color: #fff;
  border-radius: 45px;
  max-width: 580px;
  max-height: 138px;
  font-size: 40px;
  font-weight: 500;

}
.bouton {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.footer-columns {
  display: grid;
  justify-content: space-between;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15%;
  width: 100vw;
}

.footer-column {
  color: white;
}

.logo-social-column {
  grid-column: span 1;
}

.footer-column a {
  display: block;
  margin-top: 25px;
}

footer {
  background-color: #35605a;
  left: 0;
  bottom: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  
}
hr {
  border-top: -2px solid white;
}

.term a {
  color: white;
  display: inline-block;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

@media screen and (max-width: 350px) {
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
  }
}
/*.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
  transition: width 0.3s;
}*/
